@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #f90;
    --secondary-color: #042e4f;
    --transition-time: 0.25s ease all;
}

body {
    font-family: 'Roboto', sans-serif ;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
    letter-spacing: 1.4px;
}

/* Basic */
ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1,h2 {
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Layout */
.container {
    width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1-2, .col-1-3, .col-1-4, .col-2-3 {
    flex-basis: 100%;
    padding: 0 15px;
}


.active {
    background-color: var(--primary-color);
    padding: 8px 20px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    transition: var(--transition-time);
}

.active:hover {
    color: #fff;
}

/* Above Header */

header {
    padding: 30px 0;
}

.above-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.above-header .logo a {
    display: flex;
}

.above-header i {
    color: var(--secondary-color);
    margin-right: 10px;
}

.above-header .logo h1 {
    font-size: 30px;
    color: var(--primary-color);
}

.above-header .logo h1 span {
    display: block;
    font-weight: normal;
    font-size: 15px;
    line-height: 5px;
    color: var(--secondary-color);
}

.above-header .icon {
    width: 45px;
    margin-right: 15px;
}

.above-header.icon i {
    font-size: 18px;
    border: 1px solid #e5e5e5;
    color: var(--secondary-color);
    padding: 8px 12px;
}

.above-header .info-1, .above-header .info-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.above-header .info-1 h3, .above-header .info-2 h3 {
    font-size: 15px;
}

.above-header .info-1 p, .above-header .info-2 p {
    font-size: 12px;
    margin: 0;
}

.above-header .info-1 span, .above-header .info-2 span {
    color: var(--primary-color);
}

/* Navigacija */

nav {
    background-color: var(--secondary-color);
    margin-top: 15px;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px #000;
    z-index: 9999;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li a {
    color: #fff;
    display: block;
    padding: 18px 30px;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2px;
    transition: var(--transition-time);
}

nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

nav ul li a.current {
    background-color: var(--primary-color);
    color: #fff;
}

nav a.icon {
    display: none;
}

/* Hero */
.hero {
    background: url(../img/buldozer.jpg) no-repeat top center / cover;
    position: relative;
    height: 80vh;
    background-attachment: fixed;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.hero * {
    z-index: 9;
}

.hero .content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero .content h2 {
    font-size: 60px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
}
.hero .content p {
    color: #cdcdcd;
    margin: 15px 0 30px;
}

.hero .content .action {
    display: flex;
    flex-direction: row;
}

.hero .content .action a:not(.active) {
    color:#333;
    background-color: #fff;
    margin-left: 15px;
    padding: 8px 20px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    transition: var(--transition-time);
}

.hero .content .action a:hover {
    border-radius: 0;
}

/* Info */
#info {
    text-align: center;
    background-color: var(--primary-color);
    padding: 65px 0 80px;
}

#info h2 {
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 60px;
    position: relative;
}

#info h2::after {
    content: "";
    position: absolute;
    width: 4%;
    height: 3px;
    background-color: var(--secondary-color);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.icons {
    padding: 30px;
}
.icons h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.icons i {
    color: #fff;
    background-color: var(--secondary-color);
    padding: 16px;
    border-radius: 50%;
    margin: 0 auto 15px;
    font-size: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--secondary-color);
    transition: var(--transition-time);
}

.icons i:hover {
    background-color: transparent;
}


/* Welcome */
#welcome .col-1-2.roller {
    background: url(../img/buldozer2welcome.jpg) no-repeat center center / cover;
}

#welcome .col-1-2.p-4 {
    padding: 80px 0 80px 40px;
}

#welcome .col-1-2 h3 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

#welcome .col-1-2 h2 {
    font-size: 40px;
    color: #000;
    margin: 10px 0 30px;
    text-transform: capitalize;
}

#welcome .col-1-2 p {
    color: #6c757d;
    line-height: 2;
    margin: 0;
}

#welcome .col-1-2 .row {
    justify-content: space-between;
}

#welcome .col-1-2 .row .col-1-2 {
    background-color: var(--secondary-color);
    flex-basis: 45%;
    margin-top: 50px;
    padding: 20px;
}

#welcome .col-1-2 .row .col-1-2 .primary-color {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: bold;
}
#welcome .col-1-2 .row .col-1-2 h4 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

/* Intro */

#intro {
    background: url(../img/masina3.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    padding: 150px 0;
    position: relative;
}
#intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 46, 79, .8);
}
#intro * {
    z-index: 99;
}

#intro .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color:#fff;
}

#intro .container .content h2 {
    text-transform: capitalize;
    font-size: 45px;
    line-height: 1.5;
}

#intro .container .content p {
    margin: 20px 0;
    font-size: 20px;
}

#intro .container .content a {
    font-size: 15px;
}

/* Services */

#services {
    padding: 80px 0;
}

#services h3 {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primary-color);
    text-align: center;
}

#services h2 {
    font-style: 40px;
    text-align: center;
    margin-bottom: 60px;
}

#services .row {
    padding: 0 30px;
}

#services .col-1-4:nth-of-type(1) .img {
    background: url(../img/services_buldozer.jpg) no-repeat center center / cover;
    height: 250px;
}
#services .col-1-4:nth-of-type(2) .img {
    background: url(../img/forklift.jpg) no-repeat center center / cover;
    height: 250px;
}
#services .col-1-4:nth-of-type(3) .img {
    background: url(../img/loader.jpg) no-repeat center center / cover;
    height: 250px;
}
#services .col-1-4:nth-of-type(4) .img {
    background: url(../img/excavator.jpg) no-repeat center center / cover;
    height: 250px;
}

#services .col-1-4 {
    overflow: hidden;
}

#services .col-1-4 .img {
    transform: scale(0.95);
    transition: var(--transition-time);
}

#services .col-1-4 .img:hover {
    transform: scale(1) ;
}

#services .col-1-4 .content {
    background: #f7f7f7;
    padding: 25px 15px;
    width: 95%;
    margin: -10px auto 0;
}

#services .col-1-4 .content h2 {
    text-align: left;
    font-style: 24px;
    margin: 0;
    color: #333;
}
#services .col-1-4 .content p {
    font-style: 16px;
    color: #666;
}

/* Tesimonials */

#testimonials {
    background: url(../img/buldozer2welcome.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    padding: 120px 0 90px;
    position: relative;
    z-index: 0;
}

#testimonials::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color:  rgba(4, 46, 79, 0.9);
}

#testimonials * {
    z-index: 99;
}

#testimonials h3, #testimonials h2 {
    text-align: center;
    color: #fff;
}

#testimonials h3 {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#testimonials h2 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 60px;
    text-transform: capitalize;
}

#testimonials .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

#testimonials .col-1-3 {
    background: rgba(255, 255, 255, .75) ;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 0;
    display: flex;
    border-radius: 5px;
    border: 3px solid transparent;
    transition: var(--transition-time);
}

#testimonials .col-1-3:hover {
    border: 3px solid var(--primary-color);
    background: #fff;
}

#testimonials .content {
    padding: 15px 15px 20px;
    flex-basis: 100%;
    color: #666;
}

#testimonials .content p {
    font-style: italic;
}

#testimonials h4 {
    color: #333;
    margin: 20px 0 0;
}

#testimonials .col-1-3 .img {
    flex-basis: 150px;
    padding-top: 30px;
}

#testimonials .col-1-3 .img img {
    border-radius: 50px;
    width: 70%;
    margin: 0 auto;
    display: block;
}

#testimonials .col-1-3 .content .company {
    color: var(--primary-color);
    margin: 0;
    font-weight: bold;
    font-style: normal;
}

/* Partneri */

#partners {
    background: #fff;
    padding: 120px 0 90px;
}

#partners h3 {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: var(--primary-color);
}

#partners h2 {
    line-height: 1.2;
    font-style: 40px;
    text-transform: capitalize;
    text-align: center;
}

#partners img {
    border: 2px solid var(--primary-color);
    width: 80%;
    transition: var(--transition-time);
    margin: 50px auto;
    filter: grayscale(90%);
}

#partners img:hover {
    filter: grayscale(0);
    border-radius: 15%;
}

/* Footer */

footer {
    background-color: #141414;
    color: #fff;
    padding: 120px 0 0;
    position: relative;
    overflow: hidden;
}

footer::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 58%;
    background: rgba(255, 255, 255, .03);
    transform: matrix(1, 0, 0.5, 1, 150, 0);
}

footer * {
    z-index: 1;
}

footer .col-1-4 {
    padding: 0 25px;
}

footer .primary-color {
    color: var(--primary-color);
    font-style: 25px;
}
footer h2 {
    color: var(--secondary-color);
    font-style: 22px;
}

footer p {
    font-size: 13px;
    color: #727272;
}
footer h3 {
    font-style: 22px;
    margin-bottom: 20px;
}

footer ul li {
    margin: 10px 0;
}
footer ul li a {
    color: #727272;
    transition: var(--transition-time);
}
footer ul li a:hover {
    color: var(--primary-color);
}

footer .social {
    display: flex;
    flex-direction: row;
}
footer .social a {
    margin: 0 15px 0 0;
    font-style: 22px;
    display: inline-block;
}

footer a .fa-brands {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-time);
    border-radius: 3px;
}
footer a .fa-brands:hover {
    background-color: var(--primary-color);
}

footer .font-awesome {
    color: #ccc;
    margin: 3px 10px 3px 0;
    font-size: 12px;
    display: inline-block;
}

footer .footer-foot {
    background-color: #000;
    margin: 120px 0 0;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
}

/******************** PAGES *********************/

/* Rent a maschine */

#services-page {
    padding: 80px 0;
}

#services-page h3 {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: var(--primary-color);
}

#services-page h2 {
    font-style: 40px;
    text-align: center;
    margin-bottom: 60px;
}

#services-page .row {
    padding: 0 30px;
}

#services-page .col-1-3:nth-of-type(1) .img {
    background: url(../img/buldozer.jpg) no-repeat center center / cover;
    height: 250px;
}
#services-page .col-1-3:nth-of-type(2) .img {
    background: url(../img/forklift.jpg) no-repeat center center / cover;
    height: 250px;
}
#services-page .col-1-3:nth-of-type(3) .img {
    background: url(../img/loader.jpg) no-repeat center center / cover;
    height: 250px;
}
#services-page .col-1-3:nth-of-type(4) .img {
    background: url(../img/excavator.jpg) no-repeat center center / cover;
    height: 250px;
}
#services-page .col-1-3:nth-of-type(5) .img {
    background: url(../img/roadroller.jpg) no-repeat center center / cover;
    height: 250px;
}
#services-page .col-1-3:nth-of-type(6) .img {
    background: url(../img/dumptruck.jpg) no-repeat center center / cover;
    height: 250px;
}
#services-page .col-1-3:nth-of-type(7) .img {
    background: url(../img/cran.jpg) no-repeat center center / cover;
    height: 250px;
}
#services-page .col-1-3:nth-of-type(8) .img {
    background: url(../img/crantruck.jpg) no-repeat center center / cover;
    height: 250px;
}

#services-page .col-1-3 {
    overflow: hidden;
    margin-bottom: 50px;
}

#services-page .col-1-3 .img {
    transition: var(--transition-time);
    transform: scale(0.95);
}

#services-page .col-1-3 .img:hover {
    transform: scale(1);
}

#services-page .col-1-3 .content {
    background: #f7f7f7;
    padding: 25px 15px;
    width: 95%;
    margin: -10px auto 0;
}

#services-page .col-1-3 .content h2 {
    text-align: left;
    font-size: 24px;
    margin: 0;
    color: #333;
}

#services-page .col-1-3 .content p {
    font-size: 16px;
    color: #666;
}


/* Gallery */

#gallery {
    padding: 80px 0;
}

#gallery h3 {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: var(--primary-color);
}

#gallery h2 {
    font-style: 40px;
    text-align: center;
    margin-bottom: 60px;
}

#gallery .lightboxOverlay {
    z-index: 99999999 !important;
}

#gallery .image-gallery,
#gallery .image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#gallery .image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    #gallery .image-gallery {
        flex-direction: row;
    }
}

#gallery .image-item {
    position: relative;
    cursor: pointer;
}

#gallery .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

#gallery .image-item:hover .overlay {
    transform: scale(1);
}

/* Contact */


#contact {
    padding: 80px 0 0;
}

#contact h3 {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: var(--primary-color);
}

#contact h2 {
    font-style: 40px;
    text-align: center;
    margin-bottom: 60px;
}

#contact form .form-group {
    margin: 20px 0;
    width: 80%;
}

#contact form .form-group input,
#contact form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--secondary-color);
    outline: none;
}

#contact form .form-group input:focus {
    border-bottom: 2px solid var(--primary-color);
}

#contact form .form-group textarea:focus {
    border: 2px solid var(--primary-color);
}

#contact form .form-group textarea {
    border: none;
    min-height: 150px;
    font-family: inherit;
}

#contact .info {
    display: flex;
    flex-direction: row;
    margin: 30px 0 50px;
}

#contact .info i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    font-size: 20px;
    background-color: var(--primary-color);
    border-radius:8px;
    color: #fff;
    margin-right: 20px;
    overflow: hidden;
}

#contact .info h3 {
    font-style: 15px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    text-align: left;
}

#contact .info p {
    margin: 0;
    font-size: 14px;
    color: var(--secondary-color);
}

#contact button {
    display: inline-block;
    margin: 20px 0;
    padding: 8px 16px;
    outline: none;
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: var(--transition-time);
    font-family: inherit;
}

#contact button:hover {
    background-color: var(--primary-color);
}

#contact .map {
    height: 700px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 80px;
}

#contact .map iframe {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

/* Responsive */
@media (min-width: 768px) {

    .container {
        width: 750px;
        margin: 0 auto;
    }

    .col-1-2, .col-1-3, .col-1-4, .col-2-3 {
        flex-basis: 50%;
        padding: 0 15px;
    }
}

@media (min-width: 992px) {

    .container {
        width: 970px;
    }

    .col-1-2, .col-1-3, .col-2-3 {
        flex-basis: 50%;
    }
    .col-1-4 {
        flex-basis: 33.333%;
    }
}

@media (min-width: 1200px) {

    .container {
        width: 1170px;
    }

    .col-1-2 {
        flex-basis: 50%;
    }
    .col-1-3 {
        flex-basis: 33.333%;
    }
    .col-1-4 {
        flex-basis: 25%;
    }
    .col-2-3 {
        flex-basis: 66.666%;
    }

}

@media (max-width: 768px) {

    .container {
        width: 95%;
        margin: 0 auto;
    }

    nav {
        margin-bottom: 80px;
    }

    .nav {
        padding-top: 70px;
        text-align: center;
    }

    #myLinks {
        display: none;
    }

    nav a.icon {
        background-color: var(--secondary-color);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 20px;
        color: var(--primary-color);
        box-shadow: 0 2px 3px #000;
        transition: var(--transition-time);
    }

    nav a.icon:hover {
        color: #fff;
    }

    .above-header {
        flex-direction: column;
        align-items: center;
    }
    .logo, .info-1, .info-2 {
        margin-bottom: 10px;
    }

    .above-header .info-1,
    .above-header .info-2 {
        display: block;
        text-align: center;
    }

    .above-header .icon {
        margin: 30px auto 10px;
        width: 30px;
    }
    .above-header .icon i {
        font-style: 14px;
        padding: 8px;
    }
    

    .above-header .info-1 h3,
    .above-header .info-2 h3 {
        font-size: 15px;
    }
    .above-header .info-1 p,
    .above-header .info-2 p {
        font-size: 12px;
    }

    #welcome, #intro {
        text-align: center;
    }

    #welcome .col-1-2.p-4 {
        padding: 80px 20px;
    }

    #services .col-1-4,
    #testimonials .col-1-3 {
        flex-basis: 95%;
        margin: 20px auto;
    }

    #partners .col-1-4 {
        text-align: center;
    }
    #partners .col-1-4 img {
        max-width: 40%;
    }

    footer h3 {
        margin-top: 50px;
    }

    #contact form .form-group {
        width: 95%;
        margin: 20px auto;
    }

    #contact button {
        display: block;
        margin: 20px auto;
        text-align: center;
    }

    #contact .col-1-3 {
        margin-top: 80px;
    }

}